<div *ngIf="note" class="card">
  <h1 *ngIf="!isEdit" class="title-view"> {{note.title}} </h1>
  <input *ngIf="isEdit" type="text" class="edit-title" [(ngModel)]="editTitle">
  
  <pre *ngIf="!isEdit" class="content-view"> {{note.content}} </pre>
  <button *ngIf="!isEdit" class="btn btn-secondary edit-btn" (click)="onEdit()"> Edit </button>
  
  <textarea rows="5" *ngIf="isEdit" class="edit-content" [(ngModel)]="editContent"></textarea>  
  <button *ngIf="isEdit" class="btn btn-primary save-btn" (click)="onSave()"> Save </button>
  <button *ngIf="isEdit" class="btn btn-danger cancel-btn" (click)="onCancel()"> Cancel </button>
</div>